<form action="/postagem/save" method="POST">
    <input type="hidden" name="id">
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <p>Texto:</p>
    <textarea name="texto"></textarea>
    <button type="submit">Salvar</button>
</form>